#search-result-header {
    margin: 20px 0 0 0;
    padding: 0;
}

#search-result-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}

.search-result-item {
    flex: 1;
    max-height: 250px;
    width: 100%;
    margin-bottom: 20px;
}

.search-result-item cite {
    color: #006621;
    font-style: normal;
}

.search-result-item .search-result-item-link {
    margin: 0;
    padding: 0;
}

.search-result-item .search-result-item-body {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#thirdparty-result-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 10px;
}

.thirdparty-result-item {
    flex: 1;
    min-width: 180px;
    max-width: 180px;
    height: 100%;
    position: relative;
    margin-right: 5px;
}

.thirdparty-result-item h4 {
    margin-top: 0;
    left: 0;
    padding: 0;
    font-size: smaller;
}

.thirdparty-result-item img {
    max-height: 90%;
    max-width: 90%;
}

.thirdparty-result-item p {
    position: absolute;
    right: 10%;
    font-weight: bold;
    padding: 0;
}
